<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>matWidth</h1>
  </div>
</div>

<div class="container">


  <mat-card>
    <mat-card-title>matWidth</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>
      <div matWidth="100px" fxLayoutAlign="center center">
        <span>width = 100px</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/width/e1.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matMaxWidth</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>
      <div matWidth="300px" matMaxWidth="50px" fxLayoutAlign="center center">
        <span>max-width = 50px</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/width/e2.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matMinWidth</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>
      <div matWidth="100px" matMinWidth="150px" fxLayoutAlign="center center">
        <span>min-width = 150px</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/width/e3.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matWidth</mat-card-title>
    <mat-card-subtitle>other examples using rem</mat-card-subtitle>
    <mat-card-content>
      <div matWidth="10rem" fxLayoutAlign="center center">
        <span>width = 10rem</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/width/e4.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matWidth</mat-card-title>
    <mat-card-subtitle>other examples using %</mat-card-subtitle>
    <mat-card-content>
      <div matWidth="100%" fxLayoutAlign="center center">
        <span>width = 100%</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/width/e5.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matWidth</mat-card-title>
    <mat-card-subtitle>other examples using %</mat-card-subtitle>
    <mat-card-content>
      <div matWidth="50%" fxLayoutAlign="center center">
        <span>width = 50%</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/width/e6.md"></markdown>
    </mat-card-footer>
  </mat-card>

</div>
