<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>matMargin</h1>
  </div>
</div>

<div class="container">

  <!--margin-->

  <mat-card>
    <mat-card-title>matMargin</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target"  matMargin="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>margin : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/margin/e1.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--margin-top-->

  <mat-card>
    <mat-card-title>matMarginTop</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matMarginTop="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>margin-top : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/margin/e2.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--margin-left-->

  <mat-card>
    <mat-card-title>matMarginLeft</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matMarginLeft="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>margin-left : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/margin/e3.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--margin-right-->

  <mat-card>
    <mat-card-title>matMarginRight</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matMarginRight="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>margin-right : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/margin/e4.md"></markdown>
    </mat-card-footer>
  </mat-card>


  <!--margin-bottom-->

  <mat-card>
    <mat-card-title>matMarginBottom</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matMarginBottom="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>margin-bottom : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/margin/e5.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--margin-left margin-right-->

  <mat-card>
    <mat-card-title>mix it left and right</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matMarginLeft="20px" matMarginRight="20px" matWidth="100px" matHeight="100px"
               fxLayout="row"
               fxLayoutAlign="start center">
            <span>margin-left : 20px</span>
            <span>margin-right : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/margin/e6.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--margin-top margin-bottom-->

  <mat-card>
    <mat-card-title>mix it top and bottom</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matMarginTop="20px" matMarginBottom="20px" matWidth="100px" matHeight="100px"
               fxLayout="row"
               fxLayoutAlign="start center">
            <span>margin-top : 20px</span>
            <span>margin-bottom : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/margin/e7.md"></markdown>
    </mat-card-footer>
  </mat-card>

</div>
