<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>matPadding</h1>
  </div>
</div>

<div class="container">

  <!--padding-->

  <mat-card>
    <mat-card-title>matPadding</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-subtitle>Check it up in chrome dev tools</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matPadding="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>padding : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/padding/e1.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--padding-top-->

  <mat-card>
    <mat-card-title>matPaddingTop</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-subtitle>Check it up in chrome dev tools</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matPaddingTop="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>padding-top : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/padding/e2.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--padding-left-->

  <mat-card>
    <mat-card-title>matPaddingLeft</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-subtitle>Check it up in chrome dev tools</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matPaddingLeft="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>padding-left : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/padding/e3.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--padding-right-->

  <mat-card>
    <mat-card-title>matPaddingRight</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-subtitle>Check it up in chrome dev tools</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matPaddingRight="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>padding-right : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/padding/e4.md"></markdown>
    </mat-card-footer>
  </mat-card>


  <!--padding-bottom-->

  <mat-card>
    <mat-card-title>matPaddingBottom</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-subtitle>Check it up in chrome dev tools</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matPaddingBottom="20px" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>padding-bottom : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/padding/e5.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--padding-left padding-right-->

  <mat-card>
    <mat-card-title>mix it left and right</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-subtitle>Check it up in chrome dev tools</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matPaddingLeft="20px" matPaddingRight="20px" matWidth="100px" matHeight="100px"
               fxLayout="row"
               fxLayoutAlign="start center">
            <span>padding-left : 20px</span>
            <span>padding-right : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/padding/e6.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <!--padding-top padding-bottom-->

  <mat-card>
    <mat-card-title>mix it top and bottom</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-subtitle>Check it up in chrome dev tools</mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>1</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>2</span>
          </div>

          <div class="target" matPaddingTop="20px" matPaddingBottom="20px" matWidth="100px" matHeight="100px"
               fxLayout="row"
               fxLayoutAlign="start center">
            <span>padding-top : 20px</span>
            <span>padding-bottom : 20px</span>
          </div>

          <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
            <span>3</span>
          </div>
        </div>

        <div class="cube" matWidth="100px" matHeight="100px" fxLayoutAlign="center center">
          <span>4</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/padding/e7.md"></markdown>
    </mat-card-footer>
  </mat-card>

</div>
