<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>matHeight</h1>
  </div>
</div>

<div class="container">

  <mat-card>
    <mat-card-title>matHeight</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>
      <div matHeight="300px" fxLayoutAlign="center center">
        <span>height = 300px</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/height/e1.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matMaxHeight</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>
      <div matHeight="300px" matMaxHeight="50px" fxLayoutAlign="center center">
        <span>max-height = 50px</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/height/e2.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matMinHeight</mat-card-title>
    <mat-card-subtitle>units: % rem em px ...</mat-card-subtitle>
    <mat-card-content>
      <div matHeight="100px" matMinHeight="500px" fxLayoutAlign="center center">
        <span>min-height = 50px</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/height/e3.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matHeight</mat-card-title>
    <mat-card-subtitle>other examples using rem</mat-card-subtitle>
    <mat-card-content>
      <div matHeight="10rem" fxLayoutAlign="center center">
        <span>height = 10rem</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/height/e4.md"></markdown>
    </mat-card-footer>
  </mat-card>

  <mat-card matMarginTop="2rem">
    <mat-card-title>matHeight</mat-card-title>
    <mat-card-subtitle>other examples using %</mat-card-subtitle>
    <mat-card-content>
      <div matHeight="5%" fxLayoutAlign="center center">
        <span>height = 5%</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <markdown src="assets/md/utilities/height/e4.md"></markdown>
    </mat-card-footer>
  </mat-card>

</div>
