<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Utilities</h1>
  </div>
</div>

<div class="container">

  <div fxLayout="row wrap"
       fxLayout.lt-md="column"
       fxLayoutGap="2rem"
       fxLayoutAlign="center">
    <mat-card matRipple routerLink="container">
      <mat-card-title-group>
        <mat-card-title>Explore the container</mat-card-title>
        <mat-card-subtitle>spacing, margin, padding, width and height</mat-card-subtitle>
        <img src="assets/icons/grid.svg" mat-card-md-image>
      </mat-card-title-group>
    </mat-card>

    <mat-card matRipple routerLink="margin">
      <mat-card-title-group>
        <mat-card-title>Explore the margin</mat-card-title>
        <mat-card-subtitle>spacing, margin, padding, width and height</mat-card-subtitle>
        <img src="assets/icons/margin.svg" mat-card-md-image>
      </mat-card-title-group>
    </mat-card>

    <mat-card matRipple routerLink="padding">
      <mat-card-title-group>
        <mat-card-title>Explore the padding</mat-card-title>
        <mat-card-subtitle>spacing, margin, padding, width and height</mat-card-subtitle>
        <img src="assets/icons/keypad.svg" mat-card-md-image>
      </mat-card-title-group>
    </mat-card>

    <mat-card matRipple routerLink="width">
      <mat-card-title-group>
        <mat-card-title>Explore the width</mat-card-title>
        <mat-card-subtitle>spacing, margin, padding, width and height</mat-card-subtitle>
        <img src="assets/icons/width.svg" mat-card-md-image>
      </mat-card-title-group>
    </mat-card>

    <mat-card matRipple routerLink="height">
      <mat-card-title-group>
        <mat-card-title>Explore the height</mat-card-title>
        <mat-card-subtitle>spacing, margin, padding, width and height</mat-card-subtitle>
        <img src="assets/icons/height.svg" mat-card-md-image>
      </mat-card-title-group>
    </mat-card>
    <!--<mat-card fxLayoutAlign="center center" matHeight="300px" matMaxHeight="200px" matPadding="20px">-->
    <!--<mat-card-title></mat-card-title>-->
    <!--<mat-card-content>-->
    <!--<h2>matHeight="300px"</h2>-->
    <!--</mat-card-content>-->
    <!--</mat-card>-->

    <!--<mat-card matWidth="250px" matMarginTop="20px">-->
    <!--<mat-card-title>matWidth="250px"</mat-card-title>-->
    <!--<mat-card-content>-->
    <!--</mat-card-content>-->
    <!--</mat-card>-->

    <!--<mat-card matMarginTop="20px">-->
    <!--<mat-card-title>matMargin="20px"</mat-card-title>-->
    <!--<mat-card-content>-->
    <!--</mat-card-content>-->
    <!--</mat-card>-->
    <!--</div>-->
  </div>
